* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

body {
    background-image: url('assets/paco2.png');
    height: auto;
    background-size: cover;
}

/* Remove underlines from all links */
a {
  text-decoration: none;
}

/* CREDITS */
.main-containerr {
    width: 100%;
    max-width: 3950px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.credit-box {
    width: 90%; 
    border-radius: 30px;
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding: 40px 50px;
    box-sizing: border-box;
    text-align: center;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}

.credit-title {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.username-text {
    color: white; 
    font-size: 1em;
    margin-bottom: 20px;
}

.loan-sections-wrap {
    text-align: left;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 25px;
}

.loan-section {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.35s, box-shadow 0.35s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loan-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.section-title2 {
    color: #FFC107;
    font-size: 1.3em;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.loan-name {
    color: white; 
    font-size: 1.05em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

ul.loan-details {
    list-style-type: disc;
    color: white;
    margin-left: 20px;
    font-size: 0.90em;
}

ol.loan-details {
    list-style-type: decimal;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

.loan-details li {
    margin-bottom: 5px;
}

.loan-desc {
    color: #fff;
    margin-left: 20px;
    font-size: 1em;
    line-height: 1.5;
}

.loan-desc li {
    margin-bottom: 8px;
}

/* Responsive design */
@media (max-width: 900px) {
    .loan-sections-wrap {
        grid-template-columns: 1fr;
    }
}
