* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

body {
  background-image: url('assets/images/paco2.png');
  height: auto;
  background-size: cover;
}

/* SAVINGS PAGE */
.main-container {
    width: 100%;
    max-width: 3950px; 
    padding-top: 50px; 
    display:flex;
    justify-content: center;
    align-items: flex-start; 
}

.savings-box {
    width: 100%; 
    max-width: 1150px; 
    min-height: 750px; 
    border-radius: 30px; 
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    padding: 30px; 
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}

.savings-title {
    color: white;
    font-size: 2.5em; 
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px; 
    margin-bottom: 5px;
}

.username-text {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 1em; 
    margin-bottom: 20px;
}

.account-sections-wrap {
    text-align: left; 
    padding: 30px 40px; 
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    
}

.account-section {
    margin-bottom: 20px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 30px;
    backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}

.section-title {
    color: rgb(255, 255, 255); 
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 15px;
}

.account-name {
    color: #FFC107; 
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
}

.account-details {
    color: white;
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    font-size: 0.95em;
}

.account-details li {
    margin-bottom: 5px;
}

.time-deposit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 0.95em;
}

.time-deposit-table th, 
.time-deposit-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    color: white;
    text-align: center;
}

.time-deposit-table th {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFC107; 
    font-weight: bold;
}

.account-details li strong {
    color: #03A9F4; 
}

/* floatie text */
.account-section {
    transition: transform 0.35s cubic-bezier(.25,.8,.25,1),
                box-shadow 0.35s ease;
    will-change: transform;
}

.account-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* CREDITS */
.main-containerr {
    width: 100%;
    max-width: 3950px;
    padding-top: 50px;
    display: flex;
    justify-content: center;    
}

.credit-box {
    width: 110%;
    max-width: 1150px;
    min-height: 750px;
    border-radius: 30px;
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}

.credit-title {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.username-text {
    color: white; 
    font-size: 1em;
    margin-bottom: 20px;
}

.loan-sections-wrap {
    text-align: left;
    padding: 30px 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.loan-section {
    margin-bottom: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 30px;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.35s, box-shadow 0.35s;
}

.loan-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.section-title2 {
    color: #FFC107;
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.loan-name {
    color: white; 
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
}

ul.loan-details {
    list-style-type: disc;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

ol.loan-details {
    list-style-type: decimal;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

.loan-details li {
    margin-bottom: 5px;
}

.main-box {
    margin: 40px auto;
    height: AUTO;
    width: 85%;
    text-align: center;
    background: linear-gradient(to right, #0a0a33, #3b3bf8);
    padding: 60px 20px;
    border-radius: 50px;
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.title {
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 25px;
}

.center-logo {
    width: 160px;
    margin: 20px 0;
}

.tagline {
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 100px;
}

.mission-body {
    margin: 0;
    background: #f4f4f4;
    font-family: serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.PASCCO-box {
    width: 40%; 
    border-radius: 30px; 
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    padding: 30px; 
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.mission-header {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px; 
    margin-top: 0px;
}

.mp-header {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 5px; 
}

.mission-header h2 {
    margin-bottom: 0;   
}

.PASCCO-row {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center; 
    text-align: center;      
}

.PASCCO-col {
    flex: 1;
    min-width: 280px;
}

.PASCCO-title {
    color: #FFC107;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
}

.p-mission {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    text-align: center;
    text-justify: inter-word;
}

.p-vision {
    font-size: 30px;
    line-height: 2;
    margin-bottom: 10px;
    text-align: center;
    text-justify: inter-word;
    }

.p-core {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    text-justify: inter-word;
}
	
.p-koop {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    text-align: center;
    text-justify: inter-word;
}

.p-prspy {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.p-prinsipyo {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}