* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

body {
  background-image: url('paco2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* second header */
.utility-nav {
    background: #000b5a; 
    color: white;
    padding: 8px 40px;
    display: flex;
    justify-content: flex-start; 
    font-size: 26px;
}

.utility-nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: color 0.3s;
}

.utility-nav a:hover {
    color: #4c59e3; 
}


/* main header yarn */
.main-nav {
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(to right, #0b0b3b, #1a22a6);
  color: white;
  padding: 15px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.main-nav h1 { 
  font-size: 1.8em;
  font-weight: 700;
}

.main-nav nav ul { 
  display: flex;
  list-style: none;
  gap: 20px;
}

.main-nav nav a { 
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.main-nav nav a:hover { 
  text-decoration: underline;
}

/* hero */
.hero {
  position: relative;
  background: url("sierra.jpg") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 80, 0.35);

}

.hero-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 85%;
  max-width: 1110px;
  z-index: 2;
  color: white;
  
}


.left-side {
  flex: 1;
  text-align: center;
  margin-right: 2000px;
}

.hero-logo {
  width: 150px;
  margin-bottom: 20px;
}

.left-side h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.3;
  text-shadow: 6px 2px 0px rgb(0, 0, 0), 0px 0px 15px rgb(0, 0, 0)
}

/* ANNCMENTT */
        .announcement-section {
            position: relative;
            margin-top: -30px; 
            padding-top: 30px; 
            overflow: hidden;
        }
        .announcement-content {
            height: 500px;
            background-image: url('PASCCO Building.png');
            background-size: cover;
            background-position: center center;
            position: relative;
            display: flex;
            align-items: flex-start; 
            justify-content: space-between;
            padding: 0 40px;
            color: white;
        }
        .announcement-text {
       text-align: left;
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 2px;
        margin-top: 15px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

        }
        .slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 55px;
        height: 55px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer black;
        user-select: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        }
        .slider-arrow:hover {
            opacity: 1;
        }
        .arrow-left {
            left: 50px;
        }
        .arrow-right {
            right: 50px;
        }
		
		.arrow-left:hover {
            transform: translateY(-5px);
        }
		
		.arrow-right:hover {
            transform: translateY(-5px);
        }

/* LOGIN SECTION NGA NIIIIIIIIIIIIIII*/
.login-box {
 left: 55%;
 position: absolute;
 width: 600px;
 height: 450px;
 background: rgba(0, 0, 0, 0.445);
 border: 2px inset rgb(255, 255, 255);
 border-width: 4px;
 border-radius: 30px;

 display: flex;
 justify-content: center;
 align-items: center;

 backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px);
}

h2 {
  font-size: 2em;
  color:#fff;
  text-align: center;

}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px;
  border-bottom: 2px solid #fff;
  
}

.input-box label {
 position: absolute;
 top: 50%;
 left: 5px;
 transform: translateY(-50%);
 font-size: 1em;
 color: #fff;
 pointer-events: none;
 transition: .5s;


}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background:transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2 em;
  line-height: 57px; 
}

.remember-forgot {
  margin: -15px 0 15px;
  align-items: center;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 4px;
}

.remember-forgot a {
  color:#fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg,rgba(88, 115, 199, 1) 0%, rgba(9, 9, 121, 1) 54%, rgba(88, 115, 199, 1) 100%);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.register-link {
  font-size: .9em;
  color: #ffffff;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a{
  color: #2086da;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

/* SAVINGS PAGE */

.main-container {
    width: 100%;
    max-width: 3950px; 
    padding-top: 50px; 
    display:flex;
    justify-content: center;
    align-items: flex-start; 
}


.savings-box {
    width: 110%; 
    max-width: 1150px; 
    min-height: 750px; 
    border-radius: 30px; 
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    padding: 30px; 
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}


.savings-title {
    color: white;
    font-size: 2.5em; 
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px; 
    margin-bottom: 5px;
}


.username-text {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 1em; 
    margin-bottom: 20px;
}


.account-sections-wrap {
    text-align: left; 
    padding: 30px 40px; 
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    
}


.account-section {
    margin-bottom: 20px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 30px;
    backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}


.section-title {
    color: rgb(255, 255, 255); 
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 15px;
}


.account-name {
    color: #FFC107; 
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
}


.account-details {
    color: white;
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    font-size: 0.95em;
}

.account-details li {
    margin-bottom: 5px;
}


.time-deposit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 0.95em;
}

.time-deposit-table th, 
.time-deposit-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    color: white;
    text-align: center;
}

.time-deposit-table th {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFC107; 
    font-weight: bold;
}


.account-details li strong {
    color: #03A9F4; 
}

/* floatie text */

.account-section {
    transition: transform 0.35s cubic-bezier(.25,.8,.25,1),
                box-shadow 0.35s ease;
    will-change: transform;
}

.account-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* CREDITS */
.main-containerr {
    width: 100%;
    max-width: 3950px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}

.credit-box {
    width: 110%;
    max-width: 1150px;
    min-height: 750px;
    border-radius: 30px;
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}

.credit-title {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.username-text {
    color: white; 
    font-size: 1em;
    margin-bottom: 20px;
}

.loan-sections-wrap {
    text-align: left;
    padding: 30px 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.loan-section {
    margin-bottom: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 30px;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.35s, box-shadow 0.35s;
}

.loan-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.section-title2 {
    color: #FFC107;
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.loan-name {
    color: white; 
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 5px;
}

ul.loan-details {
    list-style-type: disc;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

ol.loan-details {
    list-style-type: decimal;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

.loan-details li {
    margin-bottom: 5px;
}


/* footloose */
footer {
  background: #0b0b3b;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.85rem;
}

@media (max-width: 850px) {
  .main-nav {
    flex-direction: column;
    gap: 10px;
  }
  
  .main-nav nav ul {
      justify-content: center;
      flex-wrap: wrap;
  }

  .hero-content {
      flex-direction: column;
      text-align: center;
  }

  .left-side {
      margin-bottom: 40px;
  }
}