* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

body {
  background-image: url('../../images/paco2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

/* Remove underlines from all links */
a {
  text-decoration: none;
}

/* CREDITS */
.main-containerr {
    width: 100%;
    max-width: 3950px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}

.credit-box {
    width: 110%; 
    max-width: 1150px; 
    min-height: 750px; 
    border-radius: 30px;
    background: linear-gradient(to right, #000046, #1a237e, #0d47a1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
}

.credit-title {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.username-text {
    color: white; 
    font-size: 1em;
    margin-bottom: 20px;
}

.loan-sections-wrap {
    text-align: left;
    padding: 30px 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.loan-section {
    margin-bottom: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 30px;
    border: 0.5px inset rgb(255, 255, 255);
    border-width: 1px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.35s, box-shadow 0.35s;
    text-decoration: none;
}

.loan-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.section-title2 {
    color: #FFC107;
    font-size: 1.5em;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.loan-name {
    color: white; 
    font-size: 1.05em;
    margin-top: 15px;
    margin-bottom: 5px;
}

ul.loan-details {
    list-style-type: disc;
    color: white;
    margin-left: 20px;
    font-size: 0.90em;
}

ol.loan-details {
    list-style-type: decimal;
    color: white;
    margin-left: 20px;
    font-size: 0.95em;
}

.loan-details li {
    margin-bottom: 5px;
}

